<html ng-app>
<head>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type='text/javascript' src="angular.min.js"></script>
  <script type='text/javascript' src="jquery.min.js"></script>
  <script type='text/javascript' src="bootstrap.min.js"></script>
</head>

<body style="padding: 50px"       ng-init="albums = [ 
               { name: 'madrid1309', title: 'Weekend in Madrid', date: '2013-09-01', description: 'My favourite trip' },
               { name: 'iceland1404', title: 'Holiday in Iceland', date: '2014-04-15', description: 'This place is cold' },
               { name: 'thailand1210', title: 'Surfing in Thailand', date: '2012-10-01', description: 'So hot!' },
               { name: 'australia1207', title: 'Wedding in Australia', date: '2012-07-31', description: 'So many kangaroos and koalas!' } ]">

  <p>
  <input placeholder="Search..." style="padding: 3px; border-radius: 5px; border: 1px solid #ddd" ng-model="searchFor" size="20"/>
  </p>

  <div style="width: 300px; float: left; margin-right: 10px" ng-repeat="album in albums | filter:searchFor " class="panel panel-primary">
    <div class="panel-heading"> {{ album.title }} <div style="float: right">{{ album.date }}</div> </div>
    <div class="panel-body">
      {{ album.description }}
    </div>
  </div>


</body>
</html>



