<html ng-app>
<head>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type='text/javascript' src="angular.min.js"></script>
  <script type='text/javascript' src="jquery.js"></script>
  <script type='text/javascript' src="bootstrap.min.js"></script>
</head>
<body style="padding: 50px" 
      ng-init="albums = [ 
               { name: 'madrid', date: '2013-09-01' },
               { name: 'iceland', date: '2014-04-15' },
               { name: 'thailand', date: '2012-10-01' },
               { name: 'australia', date: '2012-07-31'} ]">
  <p>Filter list: <input ng-model="searchFor" size="30"/></p>

  <ul>
    <li ng-repeat="album in albums | filter:searchFor | orderBy:'date' ">{{ album.name  }}</li>
  </ul>
  <p> There are {{ albums.length }} albums so far!</p>

</body>
</html>


